@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 1.4rem;
  color: #262626;
}

.button-o {
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #507fe1;
  padding: 1.7rem 2.2rem;
  color: #507fe1;
  cursor: pointer;
  font-family: 'Proxima Nova Semibold', sans-serif;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.button-o:hover {
  background-color: #507fe1;
  color: #fff;
}

.button-o:active, .button-o:focus {
  outline: none;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 2.5rem 4rem;
  border: 2px solid #507fe1;
  background-color: #507fe1;
  color: #fff;
  font-family: 'Proxima Nova Semibold', sans-serif;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.button:active, .button:focus {
  outline: none;
}

.button-fitting {
  background-color: #fff;
  color: #507fe1;
}

.button-add {
  background-color: #7c9fe8;
  color: #fff;
}

.button-like {
  background-color: #507fe1;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: -1px;
}

.button-like__img {
  position: relative;
  bottom: -2px;
  width: 12px;
  fill: #507fe1;
  stroke-width: 3;
  stroke: #fff;
}

.top {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 130px;
  right: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #507fe1;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.top.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.top svg {
  fill: #fff;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 8rem;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__light-text {
  display: block;
  color: #7b7b79;
  font-size: 1.4rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar__scroll {
  -webkit-box-shadow: 0 5px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 21px rgba(0, 0, 0, 0.1);
}

.navbar__phone {
  display: block;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 1.9rem;
  text-decoration: none;
  margin-bottom: 5px;
  color: #1c1c1c;
  white-space: nowrap;
}

.menu {
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 8rem;
  left: 0;
  padding: 1.6rem 0;
  background-color: #507fe1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #fff;
}

.menu-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 8rem;
  width: 7rem;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.menu-button span {
  position: absolute;
  width: 2rem;
  height: 3px;
  -webkit-transition: .5s;
  transition: .5s;
  background: #89a9eb;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu-button span:nth-child(1) {
  top: 40%;
  left: 50%;
}

.menu-button span:nth-child(2) {
  bottom: 40%;
  left: 50%;
}

.menu-button.active span:nth-child(1) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.menu-button.active span:nth-child(2) {
  bottom: 50%;
  -webkit-transform: translate(-50%, 35%) rotate(225deg);
          transform: translate(-50%, 35%) rotate(225deg);
}

.menu-button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2rem;
  height: 3px;
  background: #89a9eb;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}

.menu-button.active:before {
  opacity: 0;
}

.logo__text {
  font-family: 'Proxima Nova Semibold', sans-serif;
  display: block;
  margin-bottom: 5px;
  font-size: 1.8rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.logo__desr {
  display: block;
  font-size: 1.4rem;
  color: #7b7b79;
  white-space: nowrap;
  letter-spacing: -0.2px;
}

.hero {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(241, 241, 241, 0.8)), to(rgba(241, 241, 241, 0.3))), url("../img/hero/hero-bg.jpg");
  background-image: linear-gradient(to right bottom, rgba(241, 241, 241, 0.8), rgba(241, 241, 241, 0.3)), url("../img/hero/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 8rem;
  padding-top: 12rem;
  padding-bottom: 27rem;
}

.hero__title {
  width: 26.2rem;
  font-size: 3rem;
  margin-bottom: 4rem;
  font-weight: 300;
}

.hero__subtitle {
  display: block;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 3rem;
  margin-bottom: 6.7rem;
}

.offer {
  padding-bottom: 12.9rem;
}

.offer-block {
  background-image: url("../img/offer_bg.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  background-color: #fff;
  padding: 8rem;
  -webkit-transform: translateY(-10.2rem);
          transform: translateY(-10.2rem);
  -webkit-box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.offer__title {
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.offer__subtitle {
  display: block;
  font-size: 2.1rem;
  margin-bottom: 4.8rem;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 90rem;
}

.form__row:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.form__group {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.form__input {
  width: 100%;
  border: 1px solid #dddddd;
}

.form__button {
  width: 100%;
  padding: 3rem 4rem;
}

.form__checkbox {
  margin-right: 3rem;
}

.form__group:not(:last-child) .form__input {
  border-right: 0;
}

.checkbox {
  display: none;
}

.checkbox__label {
  font-family: 'Proxima Nova Semibold', sans-serif;
  cursor: pointer;
  position: relative;
  padding-left: 5rem;
}

.checkbox__button {
  position: absolute;
  top: -0.6rem;
  left: 0;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 1px solid #dddddd;
}

.checkbox__button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #507fe1;
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.checkbox:checked ~ .checkbox__label .checkbox__button:after {
  opacity: 1;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__item {
  width: 33.33%;
  text-align: center;
  margin-bottom: 10rem;
}

.catalog {
  background-color: #f5f6f8;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__card {
  margin-bottom: 3rem;
}

.catalog__link {
  text-align: center;
  margin-top: 6rem;
}

.catalog__link-more {
  display: inline-block;
  margin-bottom: 2.4rem;
}

.catalog__descr {
  display: block;
}

.catalog-card {
  position: relative;
  max-width: 57rem;
  -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.catalog-card__tag {
  font-family: 'Proxima Nova Semibold', sans-serif;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 12px;
  text-transform: uppercase;
  background-color: rgba(80, 127, 225, 0.6);
  color: #fff;
  padding: 10px;
}

.catalog-card__image {
  display: block;
}

.catalog-card__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-card__button {
  text-transform: uppercase;
  font-size: 11px;
  border: none;
  padding: 10px;
  height: 30px;
  cursor: pointer;
}

.blog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7rem;
}

.blog__title {
  font-size: 2.4rem;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__link-more {
  font-size: 1.6rem;
  text-decoration: none;
  color: #507fe1;
  display: inline-block;
  border-bottom: 1px solid #507fe1;
  padding: 5px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  white-space: nowrap;
}

.blog__link-more:hover {
  background-color: #507fe1;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.blog-list__card {
  text-align: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.blog-list__card:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.blog-list__text {
  padding: 1rem;
  font-size: 16px;
}

.blog-list__img {
  overflow: hidden;
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-block__card {
  margin-bottom: 30px;
}

.price-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 285px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.price-card__text {
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.price-card__cost {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 1.6rem;
}

.price-card__img {
  width: 100%;
  overflow: hidden;
}

.price-card__img img {
  height: 100%;
  width: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.price-card__pricetag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-card__button {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  padding-bottom: 30px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  z-index: -1;
}

.price-card__button .button {
  padding: 1.7rem 4rem;
}

.price-card:hover .price-card__button {
  bottom: -80px;
  opacity: 1;
  z-index: 99;
}

.price-card:hover .price-card__img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.steps {
  background-color: #f5f6f8;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps .step {
  position: relative;
}

.steps .step__title {
  margin-top: 55px;
  font-size: 18px;
}

.steps .step__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 7.5rem;
  right: 6rem;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 16px;
  width: 30px;
  height: 30px;
  color: #507fe1;
  background-color: #f5f6f8;
  border: 2px solid #262626;
  border-radius: 50em;
  z-index: 20;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.steps .step__number:hover {
  background-color: #262626;
  color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.steps .step:not(:first-child) .step__number:before {
  content: '';
  position: absolute;
  left: -11px;
  width: 0;
  height: 0;
  border-left: 10px solid #262626;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.steps .step:not(:last-child):before {
  content: "";
  position: absolute;
  top: 9rem;
  right: -11.8rem;
  width: 18rem;
  height: 2px;
  background-color: #262626;
  z-index: 10;
}

.reviews {
  background-color: #f5f6f8;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-slider__item {
  text-align: center;
}

.reviews-slider__img {
  display: block;
  width: 70px;
  height: 70px;
  border: 2px solid #6a99e9;
  border-radius: 70px;
  margin: 20px auto;
}

.reviews-slider__text {
  font-family: 'Proxima Nova Semibold', sans-serif;
  position: relative;
  max-width: 370px;
  background-color: #fff;
  padding: 20px;
  font-style: italic;
  font-size: 15px;
  line-height: 1.4;
  border-radius: 5px;
}

.reviews-slider__text:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: calc(50% - 20px);
  border-left: 20px solid transparent;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
}

.reviews-slider__name {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #507fe1;
  color: #fff;
}

::selection {
  background-color: #507fe1;
  color: #fff;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

.container {
  max-width: 117rem;
  margin: auto;
}

.bg-secondary {
  background: #f1f1f1;
}

.input {
  height: 8rem;
  padding: 3rem;
}

.section {
  padding: 10rem 0;
}

.section-title {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 10rem;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .offer-block {
    background-position: center right -5rem;
  }
  .catalog-card {
    max-width: 470px;
  }
  .blog__heading {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .blog-list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .blog-list__card {
    margin-bottom: 7rem;
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .price-block {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .steps .step:not(:last-child):before {
    right: -9.8rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .container {
    max-width: 750px;
  }
  .navbar__mobile, .navbar__landline {
    display: none;
  }
  .menu__link {
    font-size: 1.3rem;
  }
  .features-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .catalog-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .blog-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blog-list__card {
    margin-bottom: 7rem;
  }
  .steps .step {
    -ms-flex-preferred-size: 27%;
        flex-basis: 27%;
    margin-bottom: 30px;
  }
  .steps .step__number {
    top: 8.5rem;
    right: 10rem;
  }
  .steps .step:nth-child(3):before {
    display: none;
  }
  .steps .step:not(:last-child):before {
    right: -18.8rem;
    width: 30rem;
    top: 10rem;
  }
  .steps .step:nth-child(4) .step__number:before {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 3rem;
  }
  .offer-block {
    background-image: none;
    background-color: #fff;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form__row:nth-child(3) .form__group {
    margin-bottom: 1rem;
  }
  .form__group {
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .form__label {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .form__input {
    height: 6rem;
    border: 1px solid #dddddd !important;
  }
  .blog__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps .step {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 30px;
  }
  .steps .step__number {
    top: 8.5rem;
    right: calc(45% - 1px);
  }
  .steps .step:nth-child(2):before {
    display: none;
  }
  .steps .step:nth-child(3):before {
    display: block;
  }
  .steps .step:nth-child(4):before {
    display: none;
  }
  .steps .step:not(:last-child):before {
    right: calc(-45% - 1px);
    width: calc(92% - 1px);
    top: 10rem;
  }
  .steps .step:not(:nth-child(even)) .step__number:before {
    display: none;
  }
  .steps .step:nth-child(4) .step__number:before {
    display: block;
  }
}

@media (max-width: 576px) {
  .navbar__logo {
    display: none;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__link {
    font-size: 1.7rem;
    margin: 1rem 0;
  }
  .offer-block {
    padding: 5rem 3rem;
  }
  .offer__title {
    font-size: 1.9rem;
  }
  .offer__subtitle {
    font-size: 1.7rem;
  }
  .section {
    padding: 6rem 0;
  }
  .features-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 5rem;
  }
  .catalog-block img {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .blog-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog__heading {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .steps .step {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
  .steps .step__number {
    top: 8.5rem;
    right: calc(50% - 14.8px);
  }
  .steps .step__number:before {
    display: none;
  }
  .steps .step:before {
    display: none;
  }
  .steps .step:not(:last-child):before {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */