.button-o  
  font-size: 1.2rem
  text-transform: uppercase
  background-color: transparent
  border: 2px solid $primary
  padding: 1.7rem 2.2rem
  color: $primary
  cursor: pointer
  +bold
  transition: all .2s ease
  &:hover
    background-color: $primary
    color: #fff
  &:active, &:focus
    outline: none

.button
  text-transform: uppercase
  padding: 2.5rem 4rem
  border: 2px solid $primary
  background-color: $primary
  color: #fff
  +bold
  cursor: pointer
  transition: all .2s ease
  
  &:active, &:focus
    outline: none

  &-fitting
    background-color: #fff
    color: $primary
  &-add
    background-color: lighten($primary, 10%)
    color: #fff
  &-like
    background-color: $primary
    height: 30px
    width: 30px
    border: none
    padding: 0    
    cursor: pointer
    margin-right: -1px
    &__img
      position: relative
      bottom: -2px
      width: 12px
      fill: $primary
      stroke-width: 3
      stroke: #fff