.button-o  
  font-size: 1.2rem
  text-transform: uppercase
  background-color: transparent
  border: 2px solid $primary
  padding: 1.7rem 2.2rem
  color: $primary
  cursor: pointer
  +bold
  &:active, &:focus
    outline: none

.button
  text-transform: uppercase
  padding: 2.5rem 4rem
  border: none
  background-color: $primary
  color: #fff
  +bold
  &:active, &:focus
    outline: none