@media (max-width: 1199px)
	.container
		max-width: 960px
	.offer
		&-block
			background-position: center right -5rem
	.catalog		
		&-card
			max-width: 470px

	.blog
		&__heading
			justify-content: space-evenly
		&-list
			justify-content: space-evenly
			&__card
				margin-bottom: 7rem
				margin-right: 3rem
				margin-left: 3rem
	.price
		&-block
			justify-content: space-evenly
	.steps 
		.step:not(:last-child):before
			right: -9.8rem 

@media (max-width: 992px)
	html
		font-size: 55%
	.container
		max-width: 750px
	.navbar
		&__mobile, &__landline
			display: none
	.menu
		&__link
			font-size: 1.3rem
	.features-block
		&__item
			flex-basis: 50%

	.catalog
		&-block
			justify-content: center
		&-card
			flex-basis: 100%
	.blog
		&-list
			justify-content: space-around
			&__card
				margin-bottom: 7rem
	.steps
		.step
			flex-basis: 27%
			margin-bottom: 30px
			&__number
				top: 8.5rem
				right: 10rem
			&:nth-child(3):before
				display: none
			&:not(:last-child):before
				right: -18.8rem
				width: 30rem
				top: 10rem
			&:nth-child(4) 
				.step__number:before
					display: none

	.factory

		&-block
			&__text
				flex-basis: 55%
				margin-left: 0

@media (max-width: 768px)
	
	.container
		max-width: 100%
		padding: 0 3rem
	.offer, 
		&-block
			background-image: none
			background-color: #fff	

	.offer-discount
		.offer, 
			&-block
				background-image: none
				background-color: #fff
		.form
			&__group-text
				text-align: center
				margin-left: 0
				margin-top: 20px

	.form
		&__row
			flex-direction: column
			&-checkbox
				flex-direction: row
		&__row:nth-child(3) &__group
			margin-bottom: 1rem

		&__group
			width: 100%
			flex-basis: 100%
		&__label
			margin-top: 2rem
			margin-bottom: 0.5rem
		&__input
			height: 6rem
			border: 1px solid #dddddd !important
		&__button

	.blog
		&__heading
			flex-direction: column

	.steps
		.step
			flex-basis: 50%
			margin-bottom: 30px
			&__number
				top: 8.5rem
				right: calc(45% - 1px)
			&:nth-child(2):before
				display: none
			&:nth-child(3):before
				display: block
			&:nth-child(4):before
				display: none	
			&:not(:last-child):before
				right: calc(-45% - 1px)
				width: calc(92% - 1px)
				top: 10rem
			&:not(:nth-child(even)) 
				.step__number:before
					display: none
			&:nth-child(4) 
				.step__number:before
					display: block
	.factory
		&-block
			&__text
				flex-basis: 70%
				margin-left: 0

@media (max-width: 576px)
	.navbar
		&__logo
			display: none
	.menu
		&__nav
			flex-direction: column
			align-items: center
		&__link
			font-size: 1.7rem
			margin: 1rem 0
	.offer
		&-block
			padding: 5rem 3rem
		&__title
			font-size: 1.9rem
		&__subtitle
			font-size: 1.7rem
	.section
		padding: 6rem 0
	.features-block
		&__item
			flex-basis: 100%
			margin-bottom: 5rem
	.catalog
		&-block
			img
				max-width: fit-content
	.blog
		&-list
			justify-content: center
		&__heading
			flex-wrap: wrap
			justify-content: center

	.steps
		.step
			flex-basis: 100%
			margin-bottom: 30px
			&__number
				top: 8.5rem
				right: calc(50% - 14.8px)
				&:before
					display: none !important
			&:before
				display: none 
			&:not(:last-child):before
				display: none 
	.factory
		.section__title
			margin-bottom: 8rem
		&-block
			&__text
				flex-basis: 100%