.catalog
	background-color: rgba(#507fe1, .1)
	&-block		
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&-card
		position: relative
		width: 49%
		margin-bottom: 2rem 
		img
			width: 100%
		&__buttons
			position: absolute
			bottom: 0
			right: 0