.hero
  position: relative
  background-image: linear-gradient(to right bottom, rgba(#f1f1f1,.8), rgba(#f1f1f1,.3)), url('../img/hero/hero-bg.jpg')
  background-size: cover
  background-position: center
  margin-top: 8rem
  padding-top: 12rem
  padding-bottom: 27rem
  
  &__title
    width: 26.2rem
    font-size: 3rem
    margin-bottom: 4rem
    font-weight: 300
  &__subtitle
    display: block
    +bold
    font-size: 3rem
    margin-bottom: 6.7rem