.offer
  padding-bottom: 12.9rem
  &-block
    background-image: url('../img/offer_bg.jpg')
    background-repeat: no-repeat
    background-position: center right
    background-size: contain
    background-color: #fff
    padding: 8rem
    transform: translateY(-10.2rem)
    box-shadow: 0 1.5rem 2.5rem rgba(0,0,0,.1)
    overflow: hidden
  &__title
    +bold
    text-transform: uppercase
    font-size: 2.5rem
    margin-bottom: 2rem
  &__subtitle
    display: block
    font-size: 2.1rem
    margin-bottom: 4.8rem
.form
  &__row
    display: flex
    align-content: center
    max-width: 90rem
    &:not(:last-child)
      margin-bottom: 2.5rem
  &__label    
    display: block
    font-size: 1.7rem
    margin-bottom: 1.5rem
  &__group
    flex-basis: 33.33%
  &__input
    width: 100%
    border: 1px solid #dddddd
  &__button
    width: 100%
    padding: 3rem 4rem
  &__checkbox
    margin-right: 3rem
  &__group:not(:last-child) &__input
    border-right: 0
    


.checkbox
  display: none
  &__label
    +bold
    cursor: pointer
    position: relative
    padding-left: 5rem
  &__button
    position: absolute
    top: -0.6rem
    left: 0
    display: inline-block
    height: 3rem
    width: 3rem
    border: 1px solid #dddddd
    &:after 
      content: ''
      position: absolute
      top: 50%
      left: 50%
      background-color: $primary
      display: block
      height: 1.3rem
      width: 1.3rem
      transition: .2s ease
      transform: translate(-50%, -50%)
      opacity: 0
  &:checked ~ &__label &__button:after
    opacity: 1

  